/* app.component.css */

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 25%;
    margin: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}

li:hover {
    transform: scale(1.05);
}

img {
    display: block;
    margin: 0 auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    li {
        width: 45%;
    }
}

@media (max-width: 576px) {
    li {
        width: 100%;
    }
}



#app {
    overflow: hidden;
    touch-action: pan-up;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app h1 {
    --fontSize: 60px;
    --lineHeight: 80px;
    width: auto;
    height: calc(2 * var(--lineHeight));
    line-height: var(--lineHeight);
    margin: calc(50vh - var(--lineHeight)) auto 0;
    font-size: var(--fontSize);
    text-transform: uppercase;
}

#app a {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

#app canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
}