  <!-- app.component.html -->

  <h1 class="center">{{ title }}</h1>

  <input type="number" #input (keyup.enter)="findPokemon(input.value)">


  <p *ngIf="pokemonSelected">Vous avez selectionné : {{pokemonSelected?.name}}</p>
  <p>{{Message}}</p>
  <p *ngIf="!pokemonSelected && errorMessage === ''">Aucun pokémon trouvé</p>


  <div class="container">
  <div class="row">
  <ul>  
    <li *ngFor="let pokemon of pokemonList" (click)="selectPokemon(pokemon)"
      class="col m4 s6 center-align" id="app" >
      <div class="card horizontal z-depth-1" pkmnBorderCard>
        <div class="card-image" >
      <img [src]="pokemon.picture" alt="{{ pokemon.name }}" />
        </div> 
      <div class="card-stacked">
        <div class="card-content">
        <strong>{{ pokemon.name }}</strong>
        <p>HP: {{ pokemon.hp }}</p>
        <p>CP: {{ pokemon.cp }}</p>
        <p>Types: {{ pokemon.types?.join(", ") }}</p>
        <p><small>{{ pokemon.created | date }}</small></p> 
        </div>
      </div>
    </div>
    
    </li>
  </ul>
  </div>
  </div>